<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<h2>List Patients</h2>
<table>
    <thead>
        <tr>
            <th>ID </th>
            <th>Date de naissance </th>
            <th>Malade </th>
            <th>Score </th>
            <th>Nom </th>
        </tr>
    <tr th:each ="p:${ListPatients}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.dateNaissance}"></td>
        <td th:text="${p.nom}"></td>
        <td th:text="${p.malade}"></td>
        <td th:text="${p.score}"></td>

    </tr>
    </thead>
</table>
</body>
</html>